<h1>New Entry for <%= @place.name %></h1>

<%= form_for(@entry, url: new_place_entry_path(@place)) do |f| %>

  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>
      <ul>
        <% @entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :posted_on %> 
    <%= f.date_field :posted_on %> 
  </div>

  <div class="actions">
    <%= f.submit "Create Entry" %>
  </div>
<% end %>