<h1><%= @place.name %></h1>
<p><%= link_to 'Edit', edit_place_path(@place) %> | <%= link_to 'Back', places_path %></p>
<p>Entries:</p>
<ul>
  <% @entries.each do |entry| %>
    <li><b><%= entry.title %></b> (<%= entry.date %>) - <%= entry.description %></li>
  <% end %>
</ul>
<br>
<%= link_to 'Add a new entry', new_place_entry_path(@place) %>

<%= link_to "Delete", place_path(@place), method: :delete, data: { confirm: "Are you sure you want to delete this place?" } %> 
